<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632847018782-vatcmf5mh7l8u4jdhcukk2kpnfgg6mij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632847018782-vatcmf5mh7l8u4jdhcukk2kpnfgg6mij</string>
	<key>API_KEY</key>
	<string>AIzaSyC1FuJbz_pq_0p_TJ3JlE23k2bhaB8Qjog</string>
	<key>GCM_SENDER_ID</key>
	<string>632847018782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-50d34</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-50d34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632847018782:ios:048b4e0d220011bdd5770f</string>
</dict>
</plist>